* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.add-book {
    background-color: #fff;
    color: #5d52ca;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: .4s;
    border: none;
    outline: none;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, .3);
    border: 3px solid #5d52ca;
    margin-right: auto;
}

.add-book:hover {
    transform: scale(0.9);
}

.title {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .8);
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #5d52ca;
    margin-right: auto;
}

.pop-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
    position: absolute;
    height: 100vh;
}

.pop-up {
    display: flex;
    flex-direction: column;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    padding: 10px 20px 5px 20px;
    width: 300px;
    border-radius: 20px;
    background-color: #fff;
    border: 3px solid #5d52ca;
    justify-content: space-evenly;
}

.pop-up p {
    color: #040f39;
    font-weight: 600;
    margin: 0;
    margin-bottom: 3px;
}

.pop-up input,
textarea {
    border: 2px solid #c5c3c3;
    outline: none;
    transition: .4s;
    padding: 5px 8px;
    margin-bottom: 8px;
    border-radius: 5px;
}

.pop-up input:focus,
textarea:focus {
    border: 2px solid #5d52ca;
    outline: none;
}

.pop-up textarea {
    resize: none;
}

.pop-up button {
    margin: 5px 0 10px 0;
}

.pop-up hr {
    background: #5d52ca;
    height: 2px;
    border-radius: 100px;
    margin: 5px 0 10px 0;
}

.close-icon {
    margin-left: auto;
    font-size: 25px;
    color: #5d52ca;
    transition: .4s;
}

.close-icon:hover {
    transform: scale(.9);
    cursor: pointer;
}

.error-msg {
    color: red;
    font-size: 12px;
}

.book-details {
    background-color: #fff;
    color: #040f39;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    border: 2px solid #5d52ca;
}

.margin-right {
    margin-right: auto;

}

.book-inner-container p {
    margin: 0;
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.book-inner-container span {
    font-weight: 700;
}

.down-icon {
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
}

.author-details {
    background-color: #fff;
    color: #040f39;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    border: 2px solid #040f39;
    display: none;
}

.display {
    top: 0;
    display: block;
}

.read-more {
    font-size: 15px;
    position: relative;
    cursor: pointer;
    margin: 0;
}

.read-more::before {
    content: '';
    height: 1px;
    background-color: #5d52ca;
    position: absolute;
    width: 72px;
    bottom: 0px;
    border-radius: 30px;
}

.custom-btn {
    width: 90px;
    height: 35px;
    margin-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .4s;
}

.edit-btn {
    background-color: #5d52ca;
    color: #fff;
    border: 2px solid #5d52ca;
}

.delete-btn {
    border: 2px solid #040f39;
    color: #fff;
    background-color: #040f39;
    transition: .4s;
}

.edit-btn:hover {
    border: 2px solid #5d52ca;
    color: #5d52ca;
    background-color: #fff;
}

.delete-btn:hover {
    border: 2px solid #040f39;
    color: #040f39;
    background-color: #fff;
}

.purple {
    color: #5d52ca;
}

.bg-purple {
    background-color: #5d52ca;
}

.white {
    color: #fff;
}

.edit-input,
textarea {
    border: 2px solid #c5c3c3;
    outline: none;
    transition: .4s;
    padding: 3px 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    width: 100%;
}

.edit-input:focus,
textarea:focus {
    border: 2px solid #5d52ca;
    outline: none;
}

.pop-up textarea {
    resize: none;
}

.banner-img {
    width: 450px;
}

.banner-img img {
    width: 100%;
    border-radius: 50px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, .8);
}

@media screen and (max-height:645px) {
    .pop-up-container {
        height: auto;
        padding: 20px 0;
    }

}

@media screen and (max-width:388px) {
    .custom-btn {
        width: 60px;
    }

}

@media screen and (max-width:576px) {
    body {
        background-image: url('./assets/img1.jpg');
    }

}